.program {
  max-width: 100%;
  min-height: 1000px;
  .grayStar{
      margin-right: 10px;
      color:#003366;
      display: inline-block;
  }
  button {
    display: block;
    margin: 100px;
  }
  .comment {
    padding: 0 20px;
    input {
      width: 200px;
      height: 30px;
      padding: 0 5px;
      margin: 5px 0;
    }
    textarea {
      padding: 5px;
      margin-top: 5px;
    }
    .send {
      width: 80px;
      height: 30px;
      margin-top: 10px;
    }
    hr {
      border: 1px solid #bababa;
      margin: 15px 0;
    }
    h3 {
      font-weight: 400;
      color: #333;
      margin-bottom: 10px;
    }
    .cont div {
      height: 50px;
      border: 1px solid #acacac;
      border-radius: 5px;
      padding: 0 10px;
      span {
        padding: 0 5px;
        line-height: 50px;
      }
      p {
        display: inline-block;
        &:nth-of-type(1) {
          color: #550000;
        }
        &:nth-of-type(2) {
          color: #595959;
        }
      }
      .del {
        float: right;
        line-height: 50px;
        color: #003366;
        cursor: pointer;
        &:hover {
          color: #550000;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
