@import url(~@/assets/css/index.css);
@mixin title-settings(){
    letter-spacing: 2px;
    color:darkgoldenrod;
    font-family: 'Carter One';
}

.records{
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
    border-left: darkolivegreen;
    border-width: 15vw;
    border-left-style: solid;
    padding-right: 100px;
    @media screen and (max-width: 1200px) {
        padding-right: 0;
    }
    .background{
        width: 85vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 15vw;
        z-index: 1;
        opacity: .45;
    }
    .leftInfor{
        max-height: auto;
        top: 70px;
        left: 2vw;
        @media screen and (max-width: 1000px) {
            left: -5vw;
        }
        .card{
            width: 192px;
            height: 252px;
            margin: 40px 15px 15px 15px;
            .imgBox img{
                object-fit: cover;
            }
        }
        .content{
            left: 8vw;
            @media screen and (max-width: 1024px) {
                left: 10vw;
            }
            div{
                color:aliceblue;
                visibility:  visible;
                h1{
                    padding-bottom: 20px;
                    letter-spacing: 2px;
                }
                p{ 
                    font-size: large;
                    width: 400px;
                    line-height: 5px;
                }
            }
        }
    }

    .leftInfor::-webkit-scrollbar{
        display: none;
    }

    .swiper-area{
        padding: 100px 30px 100px 20vw;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 2;
        @media screen and (max-width: 1200px) {
            padding: 100px 50px 100px 20vw;
            padding-left: 10px;
        }

        .killerbg{
            width: 100%;
            @media screen and (max-width: 1200px) {
                width: 800px;
            }
            h1{
                @include title-settings();
                .bgAll{
                    margin:0 20px;
                    font-size: large;
                    font-style: italic;
                    color: rgb(224, 173, 43);
                    letter-spacing: 0;
                    text-decoration: none;
                }
            }
            .bgContent{
                line-height: 20px;
                word-spacing: 3px;
                font-family: 'Amaranth';
                font-size: 1em;
                color:beige;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
        .perks{
            max-width: 100%;
            height: auto;

            h1{
                @include title-settings();
                span a{
                    margin:0 20px;
                    font-size: large;
                    font-style: italic;
                    color: rgb(224, 173, 43);
                    letter-spacing: 0;
                    text-decoration: none;
                }
            }
            h3{
                word-spacing: 3px;
                font-family: 'Amaranth';
                font-size: 1.2em;
                color:beige
            }
            img{
                transform: scale(80%);
            }
        }


        .infor{
            max-width: 100%;
            height: auto;
            h1{
                @include title-settings();
            }
            table {
                border-collapse: collapse;
                max-width: 100%;
                min-width: 400px;
                td, th {
                font-family: "Amaranth";
                border: 1px solid #dddddd;
                text-align: left;
                color:rgb(181, 181, 118);
                padding: 8px;
                    span{
                        word-spacing: 3px;
                        font-family: 'Amaranth';
                        color:beige;
                    }
                }
            }
            p{
                word-spacing: 3px;
                font-family: 'Amaranth';
                font-size: 1.2em;
                color:beige;
            }
        }

        .add-ones-container{
            h1{
                @include title-settings();
            }
            .add-ones-block{
                display: inline;
            }
        }
    }
}

.container::-webkit-scrollbar{
    display: none;
}

:deep(.swiper-area) {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      background: black;
      opacity: 0.6;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: orange;
    }
}