
.home_secondparagh{
    position: relative;
    background-color: #5CE1E6;
    height: 80vh;
    width: 100%;
    display: flex;
    margin: 0px;
    overflow: hidden;

    img{
        width:614px;
        height:436px;
        display: flex;
        margin:80px 0 50px 80px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        padding: 3px;
    }

    #content{
        max-width: 650px;
        margin: 80px 0px 50px 100px;
        text-align: left;

        #container{
            width: 650px;
            display: flex;
            flex-direction: row;
            height: 60px;
            margin-bottom: 30px;
        }

        h1{
            font-family:'Fredoka One', cursive;
            color:#002984;
            letter-spacing: 1px;
            font-size: 3.5em;
            line-height: 1.5em;
            font-weight: 700;
            margin-right: 25px;
        }

        p{
            font-family: 'Source Sans Pro', sans-serif;
            color:white;
            font-size: 18px;
            word-spacing: 1px;
            line-height: 1.5em;
        }
    }

    .box_container{
        margin-top: 40px;
        display: flex;
        background: #5CE1E6;
        flex-direction: row;

        .box{
            position: relative;
            width: 200px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #5CE1E6;
            margin:50px 30px 50px 30px;

            .percent{
                position:relative;
                width: 130px;
                height: 130px;

                svg{
                    position: relative;
                    width:130px;
                    height:130px;

                    circle{
                        width:130px;
                        height:130px;
                        fill:none;
                        stroke-width: 10;
                        stroke:#000;
                        transform: translate(5px,5px);
                        stroke-dasharray: 380;
                        stroke-dashoffset: 380;
                        stroke-linecap: round;
                    }

                    circle:nth-child(1){
                        stroke-dashoffset: 0;
                        stroke:#e2fdff;
                    }
                }

                #circle1 circle:nth-child(2){
                    stroke-dashoffset: calc(380 - (380 * 33)/100);
                    stroke:#788bff;
                }

                #circle2 circle:nth-child(2){
                    stroke-dashoffset: calc(380 - (380 * 20)/100);
                    stroke:#788bff;
                }
                #circle3 circle:nth-child(2){
                    stroke-dashoffset: calc(380 - (380 * 47)/100);
                    stroke:#788bff;
                }
            }

            .number{
                position:absolute;
                font-family:'Fredoka One', cursive;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#e2fdff;
                cursor: pointer;
                &:hover{
                    color:#c60af0;
                }

                h2{
                    font-size: 50px;
                    span{
                        font-size: 13px;
                    }
                }
            }
            
            .text{
                font-family:'Fredoka One', cursive;
                padding: 10px 0 0;
                color:#5465ff;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
}