.creativity{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #383838;
    .card{
        position: relative;
        background-color: azure;
        width: 400px;
        height: 500px;
        marg
    }
}