.addones-container{
    .addones-group{
        .addones-rarity-title{
            color: var(--yellow-100);
        }
        hr{
            border: 1px solid var(--gray-100);
        }
    }
}
.addones-popup-container{
    min-width: 1000px;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .img-box{
        position: relative;
        width: 20%;
        height: 100px;
        .icon{
            width: 250px;
            top: -5rem;
            left: -5rem;
        }
        .marker{
            width: 100px;
            right: -20px;
            top: -8rem;
            z-index: 10;
        }
    }
    h1{
        margin-left: 50px;
        width: 80%;
        line-height: 100px;
        font-size: 4rem;
        color: var(--yellow-100);
        letter-spacing: 2px;
    }
    .common{
        color: var(--addones-common);
    }
    .uncommon{
        color: var(--addones-uncommon);
    }
    .rare{
        color: var(--addones-rare);
    }
    .veryrare{
        color: var(--addones-veryrare);
    }
    .ultrarare{
        color: var(--addones-ultrarare);
    }
    p{
        min-height: 100px;
        padding: 0 30px;
        margin: 50px 0;
        color: var(--gray-100);
        font-size: 1.2rem;
        word-spacing: 2px;
        white-space: pre-wrap;
    }
}