.information-container{
    .overview{
        color: var(--gray-100);
        font-size: 1.2rem;
        max-height: 150px;
        overflow-y: scroll;
        word-spacing: 2px;
        font-style: italic;
        white-space: pre-wrap;
        border: 2px solid var(--gray-50);
        padding: 10px;
    }
    .table-container{
        width: 600px;
        height: 450px; 
        border: 5px solid var(--gray-100);
        .table-box{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            table {
                border-collapse: separate;
                border-spacing: 5px;
                max-width: 100%;
                td{
                    padding: 8px;
                }
                td[class="type"]{
                    width: 250px;
                    color: var(--gray-100);
                    font-weight: bolder;
                    text-align: right;
                    background-color: var(--gray-200);
                }
                td[class="value"]{
                    color: var(--gray-100);
                    text-align: left;
                    font-weight: normal;
                }
            }
        }
    }
    #img1{
        bottom: 2rem;
    }
}

::-webkit-scrollbar {
    display: none;
}