.records{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: darkslategrey;
    height:auto;
    .leftBg{
        width:220px;
        height:700px;
        background-color: darkolivegreen;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card{
            position: relative; 
            width: 192px;
            height: 252px;
            margin: 15px;
            overflow: hidden;
            left:100px;
            .imgBox{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .content{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 100px;
            div{
                color:aliceblue;
                visibility:  visible;
                h1{
                    padding-bottom: 20px;
                    letter-spacing: 2px;
                }
                p{ 
                    font-size:large;
                    line-height: 5px;
                }
            }
        }
        .bs{
            left: 100px;
            top: 40px;
            width: 110px;
            height: 50px;
            font-size: larger;
            margin-bottom: 20px;
        }
    }
    .container{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0px 0px 200px;
        .skills{
            position: relative;
            transform: scale(50%) translateX(-250px);
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                transform: scale(100%);
            }
        }
        .video{
            width:auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .videoBox{
                width: 300px;
                height: 180px;
                box-sizing: border-box;
                padding: 0 10px;
                figure{
                    position: relative;
                    margin: 0;
                    padding: 0;
                    overflow:hidden;
                    img{
                        width:100%;
                        height:100%;
                    }
                    figcaption{
                        position: absolute;
                        top:20px;
                        left:20px;
                        right:20px;
                        bottom: 20px;
                        background: #fff;
                        text-align: center;
                        padding: 20px;
                        opacity: 0;
                        transition: .8s;
                        transition-delay: .2s;
                        transform: translateY(20px);
                        z-index: 1;
                        h1{
                            margin: 0;
                            padding: 0;
                            font-size: 22px;
                        }
                        p{
                            margin: 10px 0 0;
                            padding: 0;
                            font-size: 16px;
                        }
                    }
                    &:hover figcaption{
                        opacity: 1;
                        transform: translateY(0);
                    }
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 50%;
                        background-color:dimgray;
                        opacity:.8;
                        transition: .5s;
                    }
                    &::before{
                        left:-50%;
                    }   
                    &::after{
                        right:-50%;
                    }  
                }
                &:hover figure::before{
                    left:0;
                }
                &:hover figure::after{
                    right:0;
                }
            }
        }
    }
}